In [1]:
import pandas as pd
from enrich_tables import add_uptake_columns, add_round_length_columns
from calculate_metrics import calculate_uptake, calculate_round_length

In [2]:
combined_df = pd.read_csv('../output_data/bs-select_combined_20250605.csv')

Add columns

In [3]:
combined_df = add_uptake_columns(combined_df)
combined_df = add_round_length_columns(combined_df)

In [4]:
combined_df[['nhs_number', 'date_of_foa', 'date_of_as', 'prior_date_of_foa', 'prior_date_of_as', 'uptake_six_mth_threshold', 'round_length_three_yr_threshold']]

,nhs_number,date_of_foa,date_of_as,prior_date_of_foa,prior_date_of_as,uptake_six_mth_threshold,round_length_three_yr_threshold
99999,9000043520,2025-02-23,2025-05-23,NaT,NaT,True,<NA>
99996,9000043519,2024-04-11,2024-10-11,2021-05-11,2021-11-11,True,True
99997,9000043519,2021-05-11,2021-11-11,NaT,NaT,False,<NA>
99998,9000043519,NaT,NaT,NaT,NaT,<NA>,<NA>
99994,9000043518,2024-07-04,NaT,2021-08-04,2022-02-04,False,True
...,...,...,...,...,...,...,...
4,9000000002,2024-09-04,NaT,NaT,NaT,False,<NA>
3,9000000001,2024-05-31,2024-08-31,NaT,NaT,True,<NA>
0,9000000000,2024-11-01,2025-04-01,2021-12-01,2022-02-01,True,True
1,9000000000,2021-12-01,2022-02-01,2019-01-01,2019-06-01,True,True
2,9000000000,2019-01-01,2019-06-01,NaT,NaT,True,<NA>

Calculate metrics

In [5]:
uptakes = calculate_uptake(combined_df, 'bso_organisation_code', '2025-03-31')
round_lengths = calculate_round_length(combined_df, 'bso_organisation_code', '2025-03-31')

In [6]:
uptakes

bso_organisation_code
AGA    78.290598
ANE    78.373383
ANT         78.0
AWC     78.33002
BHL    77.757009
         ...
PBO    77.881041
PLE    80.148423
PLN    77.988615
PMA    78.596491
PWI    77.413479
Name: uptake_six_mth_threshold, Length: 76, dtype: Float64

In [7]:
round_lengths

bso_organisation_code
AGA    92.025862
ANE    93.647059
ANT    93.984962
AWC    93.120393
BHL    93.457944
         ...
PBO    93.473193
PLE    95.412844
PLN    94.814815
PMA     95.03386
PWI    92.643678
Name: round_length_three_yr_threshold, Length: 76, dtype: Float64